<h1>Информация о системе</h1>
<p>Для продуктивного использования данной системы аренды жилья рекомендуется ознакомится
  с представленным ниже текстом.
</p>

<h2>Арендодателям</h2>

<h3>Как сдавать свое жилье</h3>
<p>Если вы хотите стать продавцом собственного жилья, вам необхомио разместить
  объявление о сдаче жилья (создать новую вакансию)</p>
<p>Для создания вакансии необходмо заполнить все соответствующие поля в форме.</p>
<p>После этого ваша вакансия попадет на страницу администратора и вам
  следует ожидать одобрения или отклонения вашей вакансии администратором.</p>

<h3>Разместить объявление</h3>
<p>Разместить обявление легко! Для этого достаточно заполнить форму создания вакансии.</p>
<p>Эту форму вы можете найти в своем личном кабинете в одном из пунктов выпадающего
  меню (Создать вакансию) или пройти по ссылке
  <a [routerLink]="['/landlord/create']">создать вакансию</a>.</p>
<p>Также вы можете отслеживать собственные вакансии на странице вакансий</p>
<p>Если вы не являетесь продавцом, эта функция вам недоступна.</p>

<h2>Гостям</h2>
<h3>Как бронировать жилье</h3>
<p>Процесс аренды жилья состоит из 4 простых шагов:</p>
<ol>
  <li>Выбор города, количества гостей и дат заезда и отъезда.
    На этом шаге можно заполнить только город. По умолчанию количество гостей будет равно 1,
  дата заезда – сегодняшняя дата, а дата отъезда – завтрашняя.</li>
  <li>
    Выбор жилья по параметрам сортировки.
    Здесь вы можете применить различные фильтры, а также изменить город, даты, количество гостей,
    тип жилья, рейтинг и отфильтровать полученные варианты.
  </li>
</ol>

<h3>Гарантии заселения</h3>

<h2>Гарантии</h2>

<h2>Служба поддержки</h2>

<h3>Контакты</h3>


