 <div class="page-wrapper">
  <h1 role="heading">Информация о системе</h1>
  <p class="under-header">Для продуктивного использования данной системы аренды жилья рекомендуется ознакомится
    с представленным ниже текстом.
  </p>

  <section class="info-section">
    <h2>Арендодателям</h2>

    <h3>Как сдавать свое жилье</h3>
    <p>Если вы хотите стать продавцом собственного жилья, вам необхомио разместить
      объявление о сдаче жилья (создать новую вакансию)</p>
    <p>Для создания вакансии необходмо заполнить все соответствующие поля в форме.</p>
    <p>После этого ваша вакансия попадет на страницу администратора и вам
      следует ожидать одобрения или отклонения вашей вакансии администратором.</p>

    <h3>Разместить объявление</h3>
    <p>Разместить обявление легко! Для этого достаточно заполнить форму создания вакансии.</p>
    <p>Эту форму вы можете найти в своем личном кабинете в одном из пунктов выпадающего
      меню (Создать вакансию) или пройти по ссылке
      <a [routerLink]="['/landlord/create']">создать вакансию</a>.</p>
    <p>Также вы можете отслеживать собственные вакансии на странице вакансий</p>
    <p>Если вы не являетесь продавцом, эта функция вам недоступна.</p>
  </section>

  <section class="info-section">
    <h2>Гостям</h2>
    <h3>Как бронировать жилье</h3>
    <p>Процесс аренды жилья состоит из 4 простых шагов:</p>
    <ol class="rental-list">
      <li>Выбор города, количества гостей и дат заезда и отъезда.
        На этом шаге можно заполнить только город. По умолчанию количество гостей будет равно 1,
      дата заезда – сегодняшняя дата, а дата отъезда – завтрашняя.</li>
      <li>
        Выбор жилья по параметрам сортировки.
        Здесь вы можете применить различные фильтры, а также изменить город, даты, количество гостей,
        тип жилья, рейтинг и отфильтровать полученные варианты.
      </li>
      <li>
        Бронирование жилья.
        При необходимости, вы можете снова изменить даты, ознакомиться с подробной информацией о жилье
        и забронировать. Имейте в виду, что для бронирования жилья вы должны быть зарегистрированы в системе.
      </li>
      <li>
        Заполнение формы на заявку.
        После того, как вы нажмете на кнопку "Забронировать", вам необходимо заполнить форму, а также
        выбрать способ оплаты и оплатить. После этого вы будете переведены на страницу успешной оплаты,
        где можете посмотреть данные об оплате, а также в разделе "Мои бронирования" вы увидите это жилье.
      </li>
    </ol>

    <h3>Гарантии заселения</h3>
    <p>Мы гарантируем, что арендодатель обязан вас заселить</p>
  </section>


  <section class="info-section">
    <h2>Служба поддержки</h2>

    <h3>Контакты</h3>
    <p>Для связи с нами можно воспользоватья следующими спочобами:</p>

    <ul class="contacts-list">
        <li class="contacts-list__item">
            По телефону: <a href="tel:+79217482260">8 921 748 22 60</a>
        </li>
        <li class="contacts-list__item">
            По электронной почте: <a href="mailto:rental-housing@daily.com">rental-housing@daily.com</a>
        </li>
        <li class="contacts-list__item">
          В социальных сетях:
          <ul class="socials-list">
            <li class="socials-list__item">
              Вконтакте: <a href="https://vk.com/dialy.rent">vk.com/dialy.rent</a>
            </li>
            <li class="socials-list__item">
              Facebook: <a href="https://facebook.com/dialy.rent">facebook.com/dialy.rent</a>
            </li>
            <li class="socials-list__item">
              Twitter: <a href="https://twitter.com/dialy.rent">twitter.com/dialy.rent</a>
            </li>
          </ul>
        </li>
    </ul>
  </section>
</div>
