<header class="main-header">
  <div class="header__logo">
      <a href="index.html"><img src="../../assets/images/logo.png" alt="DAILY"></a>
  </div>
  <input type="checkbox" id="menu-checkbox">
  <nav role="navigation">
      <label for="menu-checkbox" class="toggle-button"
      data-open="Меню" data-close="Закрыть меню" onclick></label>
      <ul class="main-navigation">
          <li class="main-navigation__item">
              <img src="../../assets/images/icons/search.svg" alt="" class="nav-icon">
              <a href="index.html#main-search">Поиск</a>
          </li>
          <li class="main-navigation__item">
              <img src="../../assets/images/icons/recommend.svg" alt="" class="nav-icon">
              <a href="index.html#main-recommend">Рекомедации</a>
          </li>
          <li class="main-navigation__item">
              <img src="../../assets/images/icons/advantages.svg" alt="" class="nav-icon">
              <a href="index.html#main-advantages">Преимущества</a>
          </li>
          <li class="main-navigation__item last-nav-li">
              <img src="../../assets/images/icons/contacts.svg" alt="" class="nav-icon">
              <a href="index.html#main-contacts">Контакты</a>
          </li>
      </ul>
  </nav>
  <button role="button" class="header__enter-btn">Вход</button>
  <div class="header__user-info">
      <img src="../../assets/images/default_avatar.png" alt="" class="header__user-photo">
      <p class="header__user-name">Julia</p>
  </div>
</header>
