<section class="main-section search-section" id="main-search">
  <h1 role="heading">Поиск посуточного жилья</h1>
  <h3>Множество вариантов заселения специально для Вас!</h3>
  <div class="message {{message.type}}-message" *ngIf="message.text">
    {{ message.text }}
  </div>
  <form action="./rentals.html" class="search-form">
    <div class="search-form-content">
      <div class="search-form-content-inputs">
        <div class="main__search-block">
          <div class="main__search-city">
            <div class="search-form-info">Выбор города</div>
            <mat-form-field class="main__input city-input">
              <input class="inner-city-inp" type="text" placeholder="например, Москва" matInput [formControl]="cityControl"
                   [matAutocomplete]="auto" [(ngModel)]="city">
                 <mat-autocomplete class="autocomplete-class" #auto="matAutocomplete">
                   <mat-option class="option-class" *ngFor="let c of cities" [value]="c">
                     {{c}}
                  </mat-option>
              </mat-autocomplete>
           </mat-form-field>
            <!-- <input type="text" class="main__input city-input" placeholder="например, Москва" [(ngModel)]="city" [ngModelOptions]="{standalone: true}"> -->
          </div>
          <div class="main__search-guests">
            <div class="search-form-info">Число гостей</div>
            <input type="number" min=1 max=50 class="main__input guests-input" placeholder="1" [(ngModel)]="guests" [ngModelOptions]="{standalone: true}">
          </div>
        </div>
        <div class="main__search-block">
          <div class="main__search-arrival">
            <div class="search-form-info">Дата заезда</div>
            <input type="date" class="main__input arrival-input" (change)="changeArrivalDate()" [(ngModel)]="arrivalDate" [ngModelOptions]="{standalone: true}" [min]="minArrivalDate">
          </div>
          <div class="main__search-departure">
            <div class="search-form-info">Дата отъезда</div>
            <input type="date" class="main__input departure-input"[(ngModel)]="departureDate" [ngModelOptions]="{standalone: true}" [min]="minDepartureDate">
          </div>
        </div>
      </div>
      <a class="main__search-btn"
      (click)="searchHousing()"
      >Поиск жилья</a>
      <!-- [routerLink]="['/rentals']"
      [queryParams]="{city: city, guests: guests}" -->
    </div>
  </form>
</section>
