<section class="main-section search-section" id="main-search">
  <h1 role="heading">Поиск посуточного жилья</h1>
  <h3>Множество вариантов заселения специально для Вас!</h3>
  <form action="./rentals.html" class="search-form">
    <div class="search-form-content">
      <div class="search-form-content-inputs">
        <div class="main__search-city">
          <div class="search-form-info">Выбор города</div>
          <input type="text" class="main__input city-input">
          <span class="icon-location"></span>
        </div>
        <div class="main__search-dates">
          <div class="main__search-arrival">
            <div class="search-form-info">Дата заезда</div>
            <input type="date" class="main__input arrival-input">
            <span class="icon-calendar"></span>
          </div>
            <div class="main__search-departure">
              <div class="search-form-info">Дата отъезда</div>
              <input type="date" class="main__input departure-input">
              <span class="icon-calendar"></span>
            </div>
        </div>
      </div>
      <a class="main__search-btn" [routerLink]="['/rentals']"
      [queryParams]="{city: 'Moskow'}"
      >Поиск жилья</a>
    </div>
  </form>
</section>
