<header class="main-header">
  <div class="header__logo">
      <a routerLink="/"><img src="../../assets/images/logo.png" alt="DAILY"></a>
  </div>
  <input type="checkbox" id="menu-checkbox">
  <nav role="navigation">
    <label for="menu-checkbox" class="toggle-button"
    data-open="Меню" data-close="Закрыть меню" onclick></label>
    <ul class="main-navigation">
      <li class="main-navigation__item">
        <img src="../../assets/images/icons/search.svg" alt="" class="nav-icon">
        <a routerLink="/">Поиск</a>
      </li>
      <li class="main-navigation__item">
        <img src="../../assets/images/icons/recommend.svg" alt="" class="nav-icon">
        <a routerLink="/">Гарантии</a>
      </li>
      <li class="main-navigation__item">
        <img src="../../assets/images/icons/advantages.svg" alt="" class="nav-icon">
        <a routerLink="/">Поддержка</a>
      </li>
      <li class="main-navigation__item last-nav-li">
        <img src="../../assets/images/icons/contacts.svg" alt="" class="nav-icon">
        <a routerLink="/">Контакты</a>
      </li>
    </ul>
  </nav>

  <button
  role="button"
  class="header__enter-btn"
  (click)="openAuthPage()"
  *ngIf="!isAuthenticated; else headerUser">
    Вход
  </button>

  <ng-template #headerUser>
    <div class="header__user-container">
      <div class="dropdown">
        <div class="user btndown">
          <img src="../../assets/images/default_avatar.png" alt="" class="header__user-photo">
          <p class="header__user-name">{{ user.name }}</p>
        </div>
        <ul *ngIf="user.role==='клиент'" class="wrapdown">
          <li><a [routerLink]="['/client/area', user.id]">Личный кабинет</a></li>
          <li><a [routerLink]="['/client/reservaions']">Мои бронирования</a></li>
          <li><a [routerLink]="['/']">К поиску жилья</a></li>
          <li><a (click)="signOut()">Выйти</a></li>
        </ul>
        <ul *ngIf="user.role==='администратор'" class="wrapdown">
          <li><a [routerLink]="['/admin/area', user.id]">Личный кабинет</a></li>
          <li><a [routerLink]="['/admin/reservaions']">Мои бронирования</a></li>
          <li><a [routerLink]="['/admin/dashboard']">Вакансии продавцов</a></li>
          <li><a [routerLink]="['/']">К поиску жилья</a></li>
          <li><a (click)="signOut()">Выйти</a></li>
        </ul>
        <ul *ngIf="user.role==='арендодатель'" class="wrapdown">
          <li><a [routerLink]="['/landlord/area', user.id]">Личный кабинет</a></li>
          <li><a [routerLink]="['/landlord/reservaions']">Мои бронирования</a></li>
          <li><a [routerLink]="['/landlord/create']">Создать вакансию</a></li>
          <li><a [routerLink]="['/landlord/vacancies']">Мои вакансии</a></li>
          <li><a [routerLink]="['/landlord/requests']">Мои заявки</a></li>
          <li><a [routerLink]="['/']">К поиску жилья</a></li>
          <li><a (click)="signOut()">Выйти</a></li>
        </ul>

      </div>
    </div>
  </ng-template>

  <!-- <div class="header__user-info">
    <img src="../../assets/images/default_avatar.png" alt="" class="header__user-photo">
    <p class="header__user-name">Julia</p>
  </div> -->
</header>
