<div class="request-card">
    <div class="request-block">
        <p class="request-title">Жилье:</p>
        <p class="request-value"><a href="./housing.html" target="_blank">Двухкомнатная квартира</a></p>
    </div>
    <div class="request-block">
        <p class="request-title">Заезд:</p>
        <input type="date" value="2019-08-27" class="request-input" disabled>
        <input type="text" value="14:00" class="request-input" disabled>
    </div>
    <div class="request-block">
        <p class="request-title">Отъезд:</p>
        <input type="date" value="2019-08-29" class="request-input" disabled>
        <input type="text" value="12:00" class="request-input" disabled>
    </div>
    <div class="request-block">
        <p class="request-title">Число гостей:</p>
        <input type="text" value="2" class="request-input" disabled>
    </div>
    <div class="request-block">
        <p class="request-title">Цель заезда:</p>
        <input type="text" value="Работа" class="request-input" disabled>
    </div>
    <div class="request-block">
        <p class="request-title">Комментарий к бронированию:</p>
        <textarea cols="40" rows="4" class="request-input" disabled></textarea>
    </div>
    <div class="request-block">
        <p class="request-title">Способ оплаты:</p>
        <input type="text" value="WebMoney" class="request-input" disabled>
    </div>
    <div class="request-block">
        <p class="request-title">Оплаченная сумма, ₽:</p>
        <input type="text" value="16 000" class="request-input" disabled>
    </div>
</div>
<button class="confirm">Принять</button>
<button class="refuse">Отказать</button>
