<div class="request-card">
  <div class="change-card-view">
    <img src="../../../../assets/images/icons/rollup.svg"
      alt="свернуть" class="roll-up" (click)="rollUpCard()" *ngIf="fullCardView">
    <img src="../../../../assets/images/icons/expand.svg"
      alt="развернуть" class="expand" (click)="expandCard()" *ngIf="!fullCardView">
  </div>

  <div class="request-block small-card" *ngIf="!fullCardView">
    <p class="request-value"><a [routerLink]="['/housing', requestNew.housingId]" target="_blank">
      {{ housingName }}
    </a></p>
    <p>
      {{ requestNew.arrivalDate }} – {{ requestNew.departureDate }}
    </p>
  </div>

  <div class="full-card" *ngIf="fullCardView">
    <div class="request-block">
        <p class="request-title">Жилье:</p>
        <p class="request-value"><a [routerLink]="['/housing', requestNew.housingId]" target="_blank">
          {{ housingName }}
        </a></p>
    </div>
    <div class="request-block">
        <p class="request-title">Заезд:</p>
        <input type="text" [value]="requestNew.arrivalDate" class="request-input" disabled>
        <input type="text" [value]="requestNew.arrivalTime" class="request-input" disabled>
    </div>
    <div class="request-block">
        <p class="request-title">Отъезд:</p>
        <input type="text" [value]="requestNew.departureDate" class="request-input" disabled>
        <input type="text" [value]="requestNew.departureTime" class="request-input" disabled>
    </div>
    <div class="request-block">
        <p class="request-title">Число гостей:</p>
        <input type="text" [value]="requestNew.guestsCount" class="request-input" disabled>
    </div>
    <div class="request-block">
        <p class="request-title">Цель заезда:</p>
        <input type="text" [value]="requestNew.target" class="request-input" disabled>
    </div>
    <div class="request-block">
        <p class="request-title">Комментарий к бронированию:</p>
        <textarea cols="40" rows="4" class="request-input" [value]="requestNew.comment" disabled></textarea>
    </div>
    <div class="request-block">
        <p class="request-title">Способ оплаты:</p>
        <input type="text" [value]="requestNew.payMethod" class="request-input" disabled>
    </div>
    <div class="request-block">
        <p class="request-title">Оплаченная сумма, ₽:</p>
        <input type="text" [value]="requestNew.cost" class="request-input" disabled>
    </div>
    <div class="request-block">
        <p class="request-title">Оплативший пользователь:</p>
        <input type="text" [value]="requestNew.user" class="request-input user-input" disabled>
    </div>
  </div>
  <button class="confirm" (click)="confirmRequest()">Принять</button>
  <button class="refuse" (click)="refuseRequest()">Отклонить</button>
</div>

