
.housing-address
  margin-bottom: 10px

.housing-address > img
  width: 25px
  position: relative
  top: 6px

.short-description
  margin-bottom: 20px

.housing-section
  padding: 10px 30px
  margin-bottom: 15px
  border-radius: 5px
  box-shadow: -5px 5px 15px #97b4b8
  background: #fff2c8
  color: #2e0c20

.section-name
  color: #6a1b4a
  margin-top: 10px

.price-value,
.guest-count
  font-size: 18px
  font-weight: bold

.price
  padding: 10px
  margin: 10px 0
  background: #f5c5e256
  border: 1px solid #c9759b83
  border-radius: 5px
  display: inline-block

.rating-container
  display: flex
  align-items: center
  margin: 20px 0

.rating-value-box
  padding: 10px
  margin-right: 20px
  color: #4D1335
  font-size: 22px
  font-weight: bold
  background: #f5c5e256
  box-shadow: 0 0 10px #c9759b
  display: inline-block

.rating-list
  display: flex
  flex-wrap: wrap

.rating-list__item
  margin-right: 20px

.rating-name
  margin: 10px 0 0

.rating__progress-value
  position: relative
  bottom: 3px

.guest-avatar
  height: 40px
  border-radius: 50%

.reviews-list__item
  padding: 10px
  margin: 10px 0
  color: #4D1335
  background: #f5c5e256
  box-shadow: 0 0 10px #c9759b

.comment-top
  display: flex
  justify-content: space-between
  flex-wrap: wrap

.comment-header
  font-weight: bold
  margin: 10px 0 0

@media screen and (max-width: 780px)
  .housing-section
    border-radius: 0

  .short-description,
  h1.section-name
    margin: 10px 30px

  .housing-main
    padding-top: 0
