<main class="housing-main">
  <section class="carousel-section-wrapper">
    <h1 role="heading" class="section-name">{{ housingName }}</h1>
    <ul class="carousel-wrapper">
      <!-- <app-carousel></app-carousel> -->
        <!-- <input type="radio" name="radio-buttons" id="img-1" checked />
        <li class="slide-container" *ngFor="let ph of houseInfo.photos">
            <div class="slide-image">
              <img [src]="ph.src">
            </div>
            <div class="carousel-controls">
                <label for="img-4" class="prev-slide">
                    <span>&lsaquo;</span>
                </label>
                <label for="img-2" class="next-slide">
                    <span>&rsaquo;</span>
                </label>
            </div>
        </li>
        <div class="carousel-dots">
            <label *ngFor="let ph of houseInfo.photos" for="img-1" class="carousel-dot" id="img-dot-1"></label>
        </div> -->
    </ul>

    <!-- карусель -->



    <!-- carousel -->
  </section>

  <section class="short-description">
    <div class="housing-address">
      <img src="../../../assets/images/icons/location.svg" alt="">
      {{ housingAddress }}
    </div>
    <app-star-rating></app-star-rating>
  </section>

  <section class="housing-section housing-description">
    <h2 role="heading" class="section-name">Описание</h2>
    <div class="housing-description">
      {{ housingDescription }}
    </div>
  </section>

  <section class="housing-section housing-prices">
    <h2 role="heading" class="section-name">Цены</h2>
    <p>Стоимость указана в рублях РФ</p>
    <div class="main-price">
      <div class="price">{{ housingPrice }} ₽ за сутки</div>
      <div class="price-desc">включает проживание не более <span class="guest-count">{{ maxGuests }}</span> гостей</div>
    </div>
  </section>

  <section class="housing-section housing-reviews" *ngIf="housingRating && housingReviews">
      <h2 role="heading" class="section-name">Оценка и отзывы</h2>
      <div class="rating-container">
        <div class="rating-value-box">
          {{ commonRating | number:'1.2-2' }}
        </div>
        <div>
          <p>На основании {{ housingReviews.length }} отзывов</p>
          <app-star-rating></app-star-rating>
        </div>
      </div> <!--rating-->

      <ul class="rating-list">
        <li class="rating-list__item" *ngFor="let rat of housingRating">
          <div class="rating-name">
              {{ rat.name }}
          </div>
          <div class="rating-value">
            <progress class="rating__progress-bar" role="progressbar" max="5" [value]="rat.value"></progress>
            <label class="rating__progress-value">{{ rat.value | number:'1.1-1' }}</label>
          </div>
        </li>
      </ul>

      <div class="reviews-container">
          <h3 class="section-name">Отзывы гостей</h3>
          <ul class="reviews-list" *ngIf="houseInfo.reviews.length !== 0">
            <li class="reviews-list__item" *ngFor="let review of housingReviews">
              <div class="comment-top">
                <div>
                  <img src="../../../assets/images/default_avatar.png" alt="" class="guest-avatar">
                  <p class="guest-name">{{ review.guestName }}</p>
                </div>
                <div>
                  <app-star-rating></app-star-rating>
                  <p class="comment-date">{{ review.date | date:'dd.MM.yyyy' }}</p>
                </div>
              </div>

              <div class="comment-text">
                <p class="comment-header">Достоинства</p>
                <p class="comment-guest-text">{{ review.advantages }}</p>
                <p class="comment-header">Недостатки</p>
                <p class="comment-guest-text">{{ review.disadvantages }}</p>
                <p class="comment-header">Комментарий</p>
                <p class="comment-guest-text">{{ review.comment }}</p>
              </div>
              <div class="comment-imges"></div>
            </li>
          </ul>

          <!-- <a class="all-reviews-link" *ngIf="houseInfo.reviews.length > 3">Читать все отзывы</a> -->
      </div>
  </section>
</main>
