<div class="sections-container">
  <section class="main-section recommend-section" id="main-recommend">
    <h2 role="heading">Популярные направления</h2>
    <p class="heading-definition">Места, которые мы рекомендуем Вам посетить</p>
    <ul class="recommend-list">
      <li class="recommend-card">
        <figure>
          <img src="../../../assets/images/main/recommends/abkhazia.jpg" alt="" class="recommend-img">
          <figcaption>Гагра, Абхазия</figcaption>
        </figure>
      </li>
      <li class="recommend-card">
        <figure>
          <img src="../../../assets/images/main/recommends/sofia.jpg" alt="" class="recommend-img">
          <figcaption>София, Болгария</figcaption>
        </figure>
      </li>
      <li class="recommend-card">
        <figure>
          <img src="../../../assets/images/main/recommends/criema.jpg" alt="" class="recommend-img">
          <figcaption>Симферополь, Крым</figcaption>
        </figure>
      </li>
      <li class="recommend-card">
        <figure>
          <img src="../../../assets/images/main/recommends/sochi.jpg" alt="" class="recommend-img">
          <figcaption>Сочи, Россия</figcaption>
        </figure>
      </li>
    </ul>
  </section>

  <section class="main-section advantages-section" id="main-advantages">
    <h2 role="heading">Удобный сервис для сдачи и поиска жилья</h2>
    <p class="heading-definition">Выбирая <span class="dialy-mention">DIALY renal housing</span>, вы получаете следующие преимущества</p>
    <ul class="advantages-list">
      <li class="advantages-list__item">
        <img src="../../../assets/images/main/advantages_icons/house.svg" alt="" class="advantages-icon">
        <h4>Лучшие условия проживания</h4>
        <p>Сервис поможет подобрать Вам идельное жилье, исходя из указанных Вами критериев</p>
      </li>
      <li class="advantages-list__item">
        <img src="../../../assets/images/main/advantages_icons/guarant.svg" alt="" class="advantages-icon">
        <h4>Гарантия заселения</h4>
        <p>Мы гарантируем только проверенных продавцов с гарантией Вашего размещения в указанную дату</p>
      </li>
      <li class="advantages-list__item">
        <img src="../../../assets/images/main/advantages_icons/ruble.svg" alt="" class="advantages-icon">
        <h4>Бесплатное размещение</h4>
        <p>У Вас есть возможность разместить объявление об аренде жилья на сайте абсолюно бесплатно</p>
      </li>
      <li class="advantages-list__item">
        <img src="../../../assets/images/main/advantages_icons/tourist.svg" alt="" class="advantages-icon">
        <h4>Надежные покупатели</h4>
        <p>Сервис гарантирует продавцам только добросовестных клинтов, которые приедут в указанную дату</p>
      </li>
      <li class="advantages-list__item">
        <img src="../../../assets/images/main/advantages_icons/locations.svg" alt="" class="advantages-icon">
        <h4>Множество гостей и&nbsp;вариантов</h4>
        <p>Благодаря популярности сервиса, и продавцы, и покупатели по всему миру смогут найти друг друга</p>
      </li>
    </ul>
  </section>
  <section class="main-section contacts-section">
    <h2 role="heading">Контакты</h2>
    <p class="heading-definition">Связаться с нами можно в любое время суток!
        <br/>
        В случае проблем с размещением или с любыми другими Вашими вопросами вы можете
        обратиться к нам одним из множества доступных способов:</p>
    <ul class="contacts-list">
        <li class="contacts-list__item">
            По телефону: <a href="tel:+79217482260">8 921 748 22 60</a>
        </li>
        <li class="contacts-list__item">
            По электронной почте: <a href="mailto:rental-housing@daily.com">rental-housing@daily.com</a>
        </li>
        <li class="contacts-list__item">
          В социальных сетях:
          <ul class="socials-list">
            <li class="socials-list__item">
              Вконтакте: <a href="https://vk.com/dialy.rent">vk.com/dialy.rent</a>
            </li>
            <li class="socials-list__item">
              Facebook: <a href="https://facebook.com/dialy.rent">facebook.com/dialy.rent</a>
            </li>
            <li class="socials-list__item">
              Twitter: <a href="https://twitter.com/dialy.rent">twitter.com/dialy.rent</a>
            </li>
          </ul>
        </li>
    </ul>
  </section>
</div>
