<div class="page-wrapper">
  <form
    [formGroup]="reviewForm"
    (ngSubmit)="submitReview()"
  >

    <h1 role="heading">Отзыв о жилье</h1>

    <div class="reservation-card">
      <div class="carousel-wrapper">
          <img [src]="housingPhotoSrc" alt="" class="variant-image">
      </div>
      <div class="housing-description">
        <div class="reservation-date">
          {{ housingDates }}
        </div>

        <a [routerLink]="['/housing', housingId]" target="_blank">
          <h2 class="housing-name">{{ housingName }}</h2>
          <div class="housing-address">
              <img src="../../../assets/images/icons/location.svg" alt="">
              {{ housingAddress }}
          </div>
        </a>
      </div>
    </div>

    <fieldset class="review-section">
      <div class="rating">
        <div class="common-rating">
          <p>Общая оценка:</p>
          <!-- <app-star-rating></app-star-rating> -->
          <span class="commom-rat-num">{{ commonRating | number:'1.2-2' }}</span>
        </div>

        <ul class="rating-list">
          <li class="rating-list__item">
            <div class="rating-name">
                Чистота
            </div>
            <div class="rating-value">
                <input class="option-input" type="range" min="1" max="5" step="1"
                formControlName="rat1"
                (change)="setRatingValue1($event)">
                <span id="rating-value-1">{{ ratingValue1 }}</span>
            </div>
          </li>

          <li class="rating-list__item">
            <div class="rating-name">
                Обслуживание
            </div>
            <div class="rating-value">
                <input class="option-input" type="range" min="1" max="5" step="1"
                formControlName="rat2"
                (change)="setRatingValue2($event)">
                <span id="rating-value-2">{{ ratingValue2 }}</span>
            </div>
          </li>

          <li class="rating-list__item">
            <div class="rating-name">
                Расположение
            </div>
            <div class="rating-value">
                <input class="option-input" type="range" min="1" max="5" step="1"
                formControlName="rat3"
                (change)="setRatingValue3($event)">
                <span id="rating-value-3">{{ ratingValue3 }}</span>
            </div>
          </li>

          <li class="rating-list__item">
            <div class="rating-name">
                Удобства
            </div>
            <div class="rating-value">
                <input class="option-input" type="range" min="1" max="5" step="1"
                formControlName="rat4"
                (change)="setRatingValue4($event)">
                <datalist id="range-rating-4"></datalist>
                <span id="rating-value-4">{{ ratingValue4 }}</span>
            </div>
          </li>

          <li class="rating-list__item">
            <div class="rating-name">
                Цена-качество
            </div>
            <div class="rating-value">
                <input class="option-input" type="range" min="1" max="5" step="1"
                formControlName="rat5"
                (change)="setRatingValue5($event)">
                <span id="rating-value-5">{{ ratingValue5 }}</span>
            </div>
          </li>

          <li class="rating-list__item">
            <div class="rating-name">
                Комфорт
            </div>
            <div class="rating-value">
                <input class="option-input" type="range" min="1" max="5" step="1"
                formControlName="rat6"
                (change)="setRatingValue6($event)">
                <span id="rating-value-6">{{ ratingValue6 }}</span>
            </div>
          </li>
        </ul>

      </div> <!--rating-->

        <div class="comments">
          <div class="comment-block">
            <h3 class="comment-header">Достоинства:</h3>
            <textarea cols="40" rows="7" class="comment-area"
            formControlName="advantages"
            [ngClass]="{'has-err': reviewForm.get('advantages').invalid && (reviewForm.get('advantages').touched || isClicked)}"
            ></textarea>
          </div>
          <div class="comment-block">
            <h3 class="comment-header">Недостатки:</h3>
            <textarea cols="40" rows="7" class="comment-area"
            formControlName="disadvantages"
            [ngClass]="{'has-err': reviewForm.get('disadvantages').invalid && (reviewForm.get('disadvantages').touched || isClicked)}"
            ></textarea>
          </div>
          <div class="comment-block">
            <h3 class="comment-header">Комментарий:</h3>
            <textarea cols="40" rows="7" class="comment-area"
            formControlName="comment"
            [ngClass]="{'has-err': reviewForm.get('comment').invalid && (reviewForm.get('comment').touched || isClicked)}"
            ></textarea>
          </div>
        </div>
        <div class="message {{message.type}}-message" *ngIf="message.text">
          {{ message.text }}
        </div>
        <button class="review-btn" type="submit">Отправить</button>
    </fieldset>
  </form>
</div>
