<div class="page-wrapper">
    <section class="lk-section top-info">
        <img src="../../../assets/images/default_avatar.png" class="user-ava" alt="">

        <div class="short-info">
          <div class="username">
              {{ surname }} {{ name }} {{ patronymic }}
              <!-- <span class="surname">{{ surname }}</span>
              <span class="">{{ name }}</span>
              <span class="">{{ patronymic }}</span> -->
          </div>
          <div class="role">
              <p>Роль в системе: <span class="role-value">{{ user.role }}</span></p>
          </div>
          <div class="regist-date">
              <p>Дата регистрации: <span class="regist-date-value">{{ user.registrDate }}</span></p>
          </div>
          <div class="timezone">
              <p>Часовой пояс: <span class="timezone-value">{{ date | date:'ZZZZ' }}</span></p>
          </div>
        </div>

    </section>

    <section class="lk-section personal-data">
      <h2 role="header">Личные данные</h2>
      <p>
        <label for="surname-input">Фамилия:</label>
        <input type="text" id="surname-input" class="user-input" [(ngModel)]="surname">
      </p>

      <p>
        <label for="name-input">Имя:</label>
        <input type="text" id="name-input" class="user-input" [(ngModel)]="name">
      </p>

      <p>
        <label for="patronymic-input">Отчество:</label>
        <input type="text" id="patronymic-input" class="user-input" [(ngModel)]="patronymic">
      </p>

      <p>
        <label>Пол:</label>
        <select class="sex-select user-input">
          <option class="sex-select__option" [selected]="user.gender === 'female'">Женский</option>
          <option class="sex-select__option" [selected]="user.gender === 'male'">Мужской</option>
          <option class="sex-select__option" [selected]="user.gender === 'other'">Другой</option>
        </select>
      </p>

      <p>
        <label for="country-input">Страна проживания:</label>
        <input type="text" id="country-input" class="user-input" [(ngModel)]="user.country">
      </p>

      <p>
        <label for="city-input">Город проживания:</label>
        <input type="text" id="city-input" class="user-input" [(ngModel)]="user.city">
      </p>
      <div class="message {{message.type}}-message" *ngIf="message.text && (forArea==='personalChanges')">
        {{ message.text }}
      </div>
      <button type="button" class="save-btn" (click)="savePersonalChanges()">Сохранить</button>
    </section>


    <section class="lk-section contacts">
      <h2 role="header">Контактные данные</h2>

      <p>
        <label for="tel-input">Телефон:</label>
        <input type="text" id="tel-input" class="user-input" [(ngModel)]="user.tel">
      </p>

      <p>
        <label for="email-input">Email:</label>
        <input type="email" id="email-input" class="user-input" [(ngModel)]="user.email">
      </p>
      <div class="message {{message.type}}-message" *ngIf="message.text && (forArea==='contactsChanges')">
        {{ message.text }}
      </div>
      <button type="button" class="save-btn" (click)="saveContactsChanges()">Сохранить</button>
    </section>

    <section class="lk-section passwors-security">
      <h2 role="header">Пароль и безопасность</h2>

      <p>
        <label for="old-pass-input">Старый пароль:</label>
        <input type="password" id="old-pass-input" class="user-input">
      </p>

      <p>
        <label for="new-pass-input">Новый пароль:</label>
        <input type="password" id="new-pass-input" class="user-input">
      </p>

      <p>
        <label for="re-pass-input">Повторите пароль:</label>
        <input type="password" id="re-pass-input" class="user-input">
      </p>
      <div class="message {{message.type}}-message" *ngIf="message.text && (forArea==='passwordChanges')">
        {{ message.text }}
      </div>
      <button type="button" class="save-btn" (click)="savePasswordChanges()">Сохранить</button>
    </section>

    <!-- <div class="message {{message.type}}-message" *ngIf="message.text">
      {{ message.text }}
    </div>
    <button type="button" class="save-btn" (click)="saveChanges()">Сохранить</button> -->

</div>
