<div class="vacancy-card">
    <div class="carousel-wrapper">
        <img src="../../../assets/images/housing_variants/var_0_1.jpg" alt="" class="vacancy-image">
    </div>
    <div class="housing-description">
        <a href="./housing.html" target="_blank">
            <h2 class="housing-name">Двухкомнатная квартира</h2>
            <div class="housing-address">
                <img src="../../../assets/images/icons/location.svg" class="housing-icon" alt="">
                Москва, Старая Басманная, 5
            </div>
            <div class="housing-price">
                <img src="../../../assets/images/icons/price.svg" class="housing-icon" alt="">
                <span class="price-card-value">8 000</span> ₽ за сутки
            </div>
            <div class="housing-landlord">
                <img src="../../../assets/images/icons/avatar.svg" class="housing-icon" alt="">
                Арендодатель: <a href="./landlord_info.html" class="landlord-link">Петр</a>
            </div>
        </a>
        <div class="status">
            Статус: <span class="status-name">одобрено</span>
        </div>
    </div>
</div>
