<div class="page-wrapper">
  <h1 role="heading">Мои бронирования</h1>

  <div class="toggles">
      <button id="all">Все бронирования</button>
      <button id="current">Текущие</button>
      <button id="past">Прошедшие</button>
      <button id="canceled">Отмененные</button>
  </div>

  <div class="no-reservations" *ngIf="!reservations">
    У вас пока нет ни одного бронирования
  </div>

  <div class="reservations">
    <ul class="reservations-list">
      <li class="reservation-list__item">
        <app-reservation-card
          *ngFor="let res of reservations"
          [reservation]="res"
        >
        </app-reservation-card>
      </li>
    </ul>
  </div> <!--reservations-->
</div>
