<div class="variant-card">
  <div class="carousel-wrapper">
      <img src="../../../assets/images/housing_variants/var_0_1.jpg" alt="" class="variant-image">
  </div>
  <div class="housing-description">
    <a [routerLink]="['/housing', '8']" target="_blank">
      <h2 class="housing-name">{{ housing.name }}</h2>
      <div class="housing-address">
        <img src="../../../assets/images/icons/location.svg" alt="">
        {{ housing.address.city }}, {{ housing.address.street }}, д.{{ housing.address.house }}
      </div>
      <div class="housing-price">
        <img src="../../../assets/images/icons/price.svg" alt="">
        {{ housing.price }} ₽ за сутки
      </div>
      <app-star-rating></app-star-rating>
      <span class="review-count">{{ housing.reviews.length }}</span>
    </a>
  </div>
</div>
