<ul class="stars-rating">
  <li class="stars-rating__item">
    <img class="icon-star" src="../../../assets/images/icons/star.png" alt="">
  </li>
  <li class="stars-rating__item">
    <img class="icon-star" src="../../../assets/images/icons/star.png" alt="">
  </li>
  <li class="stars-rating__item">
    <img class="icon-star" src="../../../assets/images/icons/star.png" alt="">
  </li>
  <li class="stars-rating__item">
    <img class="icon-star-black" src="../../../assets/images/icons/star-black.png" alt="">
  </li>
  <li class="stars-rating__item">
    <img class="icon-star-black" src="../../../assets/images/icons/star-black.png" alt="">
  </li>
</ul>
