<footer class="main-footer">
  <div class="footer-container">
      <div class="footer-top">
          <div class="foolter-col">
              <ul class="foolter-col-list">
                  <li class="foolter-col-list__item"><a [routerLink]="['/info']">Личный кабинет</a></li>
                  <li class="foolter-col-list__item"><a [routerLink]="['/info']">Служба поддержки</a></li>
              </ul>
          </div>
          <div class="foolter-col">
              <ul class="foolter-col-list">
                  <li>Арендодателям</li>
                  <li class="foolter-col-list__item"><a [routerLink]="['/info']">Как сдавать свое жилье</a></li>
                  <li class="foolter-col-list__item"><a [routerLink]="['/info']">Разместить объявление</a></li>
              </ul>
          </div>
          <div class="foolter-col">
              <ul class="foolter-col-list">
                  <li>Гостям</li>
                  <li class="foolter-col-list__item"><a [routerLink]="['/info']">Как бронировать жилье</a></li>
                  <li class="foolter-col-list__item"><a [routerLink]="['/info']">Гарантии заселения</a></li>
              </ul>
          </div>
      </div>
      <hr class="footer-line"/>
      <div class="footer-bottom">
          <div class="copy">
              &copy; 2019. DAILY rental housing
          </div>
          <ul class="socials-list">
              <li class="socials-list__item">
                  <a href="https://vk.com" target="_blank">
                      <img src="../../assets/images/icons/socials/vk.png" alt="vk">
                  </a>
              </li>
              <li class="socials-list__item">
                  <a href="https://facebook.com" target="_blank">
                      <img src="../../assets/images/icons/socials/facebook.png" alt="facebook">
                  </a>
              </li>
              <li class="socials-list__item">
                  <a href="https://twitter.com" target="_blank">
                      <img src="../../assets/images/icons/socials/twitter.png" alt="twitter">
                  </a>
              </li>
          </ul>
      </div>
  </div>
</footer>
