$btn-bg: linear-gradient(0deg, #7e4b6a 0%, #e08ab1 100%)
$btn-hover-bg: linear-gradient(0deg, #6b3d59 0%, #c9759b 100%)
$btn-color: #f3d9e8
$btn-hover-color: #e9c5da

.options-container
  margin: 25px 10px

.option-block
  margin-bottom: 25px
  color: #2e0c20
  font-size: 18px

.option-input
  width: 250px
  color: #2e0c20
  font-size: 16px
  padding: 2px 5px
  border-radius: 5px
  border: none

  &::-webkit-calendar-picker-indicator
    color: transparent
    opacity: 1
    background: url(../../../assets/images/icons/calendar.svg) no-repeat center
    background-size: contain

  &::-webkit-inner-spin-button
    display: none

.price-option .option-input
  width: 88px

.rating-input
  &::-webkit-slider-thumb
    background: #cecece

#check-options
  display: none

.check-options-icon
  display: none

.select-sorting-container
  text-align: center

.select-sorting
  height: 30px
  font-size: 16px
  color: #2e0c20

.apply-btn
  display: inline-block
  text-align: center
  width: 260px
  height: 70px
  line-height: 70px
  color: $btn-color
  font-size: 26px
  background: $btn-bg
  border: #ad807b
  border-radius: 8px

.apply-btn:hover
  cursor: pointer
  color: $btn-hover-color
  background: $btn-hover-bg


@media screen and (max-width: 1000px)
  .option-input
    width: 200px

  .price-option .option-input
    display: block

  .apply-btn
    width: 210px

@media screen and (max-width: 780px)

  .options-container
    display: flex
    flex-direction: column

  .option-block
    padding: 10px

  .select-sorting-container
    display: inline-block
    margin-left: 30px

  .check-options-icon
    display: inline-block
    position: relative
    top: 8px
    cursor: pointer
    margin-left: 30px

  .options-container
    display: none

  #check-options:checked ~ .options-container
    display: flex
    margin-left: 20px

  .apply-btn
    height: 40px
    line-height: 40px
    font-size: 22px

@media screen and (max-width: 530px)
  .select-sorting
    font-size: 14px
    width: 100%

  .check-options-icon
    width: 22px

  .option-block
    font-size: 16px

  .option-input
    width: 180px
    font-size: 14px

