<div class="page-wrapper">
  <form
    [formGroup]="createVacancyForm"
    (ngSubmit)="createVacancy()">
    <fieldset class="add_vacancy-section housing-type">
      <h2 role="heading" class="section-name">Название жилья</h2>
      <p>
        <label for="name-input">Наименование, котрое будет отражаться в заголовке:</label>
        <br>
        <input
          type="text"
          id="name-input"
          class="vacancy-input"
          formControlName="name"
          [ngClass]="{'has-err': createVacancyForm.get('name').invalid && (createVacancyForm.get('name').touched || isClicked)}"
        >

        <span
          class="form-help-text"
          *ngIf="createVacancyForm.get('name').invalid && (createVacancyForm.get('name').touched || isClicked)"
        >
          <span *ngIf="createVacancyForm.get('name')['errors']['required']">Название жилья не может быть пустым</span>
          <span *ngIf="createVacancyForm.get('name')['errors']['minlength']">Минимальная длина символов – 3</span>
        </span>
      </p>
    </fieldset>
    <fieldset class="add_vacancy-section housing-type">
      <h2 role="heading" class="section-name">Тип жилья</h2>
      <ul class="housing-type-list">
        <li class="housing-type-list__item">
          <input value="hotel/hostel" type="radio" id="hotels" formControlName="type">
          <label for="hotels">Номера, спальные места (в отеле или хостеле)</label>
        </li>
        <li class="housing-type-list__item">
          <input value="apartments" type="radio" id="apartments" formControlName="type">
          <label for="apartments">Апартаменты</label>
        </li>
        <li class="housing-type-list__item">
          <input value="house" type="radio" id="houses" formControlName="type">
          <label for="houses">Дома, коттеджи</label>
        </li>
        <li class="housing-type-list__item">
          <input value="flat" type="radio" id="flat" formControlName="type">
          <label for="flat">Квартиры</label>
        </li>
      </ul>
      <span
          class="form-help-text"
          *ngIf="createVacancyForm.get('type').invalid && isClicked"
        >
          Выберете тип жилья
        </span>
    </fieldset>

    <fieldset class="add_vacancy-section housing-type" formGroupName="address">
      <h2 role="heading" class="section-name">Адрес</h2>

      <p>
        <label for="country-input">Страна:</label>
        <input
          type="text"
          id="country-input"
          class="address-input vacancy-input"
          formControlName="country"
          [ngClass]="{'has-err': createVacancyForm.get('address.country').invalid && (createVacancyForm.get('address.country').touched || isClicked)}"
        >
        <span
          class="form-help-text"
          *ngIf="createVacancyForm.get('address.country').invalid && (createVacancyForm.get('address.country').touched || isClicked)"
        >
          Заполните страну
        </span>
      </p>

      <p>
        <label for="city-input">Город:</label>
        <input
          type="text"
          id="city-input"
          class="address-input vacancy-input"
          formControlName="city"
          [ngClass]="{'has-err': createVacancyForm.get('address.city').invalid && (createVacancyForm.get('address.city').touched || isClicked)}"
        >
        <span
          class="form-help-text"
          *ngIf="createVacancyForm.get('address.city').invalid && (createVacancyForm.get('address.city').touched || isClicked)"
        >
          Заполните город
        </span>
      </p>

      <p>
        <label for="street-input">Улица:</label>
        <input
          type="text"
          id="street-input"
          class="address-input vacancy-input"
          formControlName="street"
          [ngClass]="{'has-err': createVacancyForm.get('address.street').invalid && (createVacancyForm.get('address.street').touched || isClicked)}"
        >
        <span
          class="form-help-text"
          *ngIf="createVacancyForm.get('address.street').invalid && (createVacancyForm.get('address.street').touched || isClicked)"
        >
          Заполните улицу
        </span>
      </p>
      <p>
        <label for="house-input">Номер дома:</label>
        <input
          type="text"
          id="house-input"
          class="address-input vacancy-input"
          formControlName="house"
          [ngClass]="{'has-err': createVacancyForm.get('address.house').invalid && (createVacancyForm.get('address.house').touched || isClicked)}"
        >
        <span
          class="form-help-text"
          *ngIf="createVacancyForm.get('address.house').invalid && (createVacancyForm.get('address.house').touched || isClicked)"
        >
          <span *ngIf="createVacancyForm.get('address.house')['errors']['required']">Заполните номер дома</span>
          <span *ngIf="createVacancyForm.get('address.house')['errors']['pattern']">Номер дома должен быть числом</span>
        </span>
      </p>

    </fieldset>

    <fieldset class="add_vacancy-section housing-description">
      <h2 role="heading" class="section-name">Описание</h2>
      <textarea class="description-area vacancy-input" cols="40" rows="10"
      placeholder="Максимально подробно постарайтесь описать сдаваемое помещение: жилая площадь, оснащение, инфраструктура поблизости и т.д."
      formControlName="description"
      ></textarea>
      <p>
        <label for="guests-max">Максимальное число гостей:</label>
        <input
          type="number"
          id="guests-max"
          class="description-input vacancy-input"
          formControlName="maxGuests"
          [ngClass]="{'has-err': createVacancyForm.get('maxGuests').invalid && (createVacancyForm.get('maxGuests').touched || isClicked)}"
        >

        <span
          class="form-help-text"
          *ngIf="createVacancyForm.get('maxGuests').invalid && (createVacancyForm.get('maxGuests').touched || isClicked)"
        >
          <span *ngIf="createVacancyForm.get('maxGuests')['errors']['required']">Заполните количество гостей</span>
          <span *ngIf="createVacancyForm.get('maxGuests')['errors']['pattern']">Количество гостей должно быть числом</span>
          <span *ngIf="createVacancyForm.get('maxGuests')['errors']['min']">Гостей не может быть меньше 1</span>
          <span *ngIf="createVacancyForm.get('maxGuests')['errors']['max']">Гостей не может быть больше 50</span>
        </span>
      </p>
      <label for="pets"><input type="checkbox" id="pets" formControlName="pets"> Можно с питомцами</label>
    </fieldset>

    <fieldset class="add_vacancy-section housing-prices">
      <h2 role="heading" class="section-name">Цены</h2>

      <p>
        <label for="min-term">Минимальный срок заселения:</label>
        <input
          type="number"
          id="min-term"
          class="vacancy-input"
          formControlName="minDays"
          [ngClass]="{'has-err': createVacancyForm.get('minDays').invalid && (createVacancyForm.get('minDays').touched || isClicked)}"
        >
          суток
        <span
          class="form-help-text"
          *ngIf="createVacancyForm.get('minDays').invalid && (createVacancyForm.get('minDays').touched || isClicked)"
        >
          Минимальный срок должен быть числом больше 0
        </span>
      </p>

      <p>
        <label for="price-input">Цена за сутки, ₽:</label>
        <input
          type="number"
          id="price-input"
          class="vacancy-input"
          formControlName="price"
          [ngClass]="{'has-err': createVacancyForm.get('price').invalid && (createVacancyForm.get('price').touched || isClicked)}"
        >
      </p>
      <span
          class="form-help-text"
          *ngIf="createVacancyForm.get('price').invalid && (createVacancyForm.get('price').touched || isClicked)"
        >
          <span *ngIf="createVacancyForm.get('price')['errors']['required']">Заполните цену</span>
          <span *ngIf="createVacancyForm.get('price')['errors']['pattern']">Цена должна быть числом</span>
      </span>

      <span class="date-span">Заезд после</span>
      <select class="vacancy-input date-select">
        <option class="date-select__option">0:00</option>
        <option class="date-select__option">1:00</option>
        <option class="date-select__option">2:00</option>
        <option class="date-select__option">3:00</option>
        <option class="date-select__option">4:00</option>
        <option class="date-select__option">5:00</option>
        <option class="date-select__option">6:00</option>
        <option class="date-select__option">7:00</option>
        <option class="date-select__option">8:00</option>
        <option class="date-select__option">9:00</option>
        <option class="date-select__option">10:00</option>
        <option class="date-select__option">11:00</option>
        <option class="date-select__option">12:00</option>
        <option class="date-select__option">13:00</option>
        <option class="date-select__option" selected>14:00</option>
        <option class="date-select__option">15:00</option>
        <option class="date-select__option">16:00</option>
        <option class="date-select__option">17:00</option>
        <option class="date-select__option">18:00</option>
        <option class="date-select__option">19:00</option>
        <option class="date-select__option">20:00</option>
        <option class="date-select__option">21:00</option>
        <option class="date-select__option">22:00</option>
        <option class="date-select__option">23:00</option>
      </select>

      <span class="date-span">Отъезд до</span>
      <select class="vacancy-input date-select">
        <option class="date-select__option">0:00</option>
        <option class="date-select__option">1:00</option>
        <option class="date-select__option">2:00</option>
        <option class="date-select__option">3:00</option>
        <option class="date-select__option">4:00</option>
        <option class="date-select__option">5:00</option>
        <option class="date-select__option">6:00</option>
        <option class="date-select__option">7:00</option>
        <option class="date-select__option">8:00</option>
        <option class="date-select__option">9:00</option>
        <option class="date-select__option">10:00</option>
        <option class="date-select__option">11:00</option>
        <option class="date-select__option" selected>12:00</option>
        <option class="date-select__option">13:00</option>
        <option class="date-select__option">14:00</option>
        <option class="date-select__option">15:00</option>
        <option class="date-select__option">16:00</option>
        <option class="date-select__option">17:00</option>
        <option class="date-select__option">18:00</option>
        <option class="date-select__option">19:00</option>
        <option class="date-select__option">20:00</option>
        <option class="date-select__option">21:00</option>
        <option class="date-select__option">22:00</option>
        <option class="date-select__option">23:00</option>
      </select>
    </fieldset>

    <fieldset class="add_vacancy-section housing-photos">
      <h2 role="heading" class="section-name">Фотографии</h2>
      <label for="housing-photos">Выберите файлы для загрузки:</label>
      <br>
      <input type="file" name="uploadingFile" id="housing-photos">
      <br>
      <small>
        Обратите внимание, что первое ваше фото будет основным при поиске жилья!
      </small>
    </fieldset>

    <div class="message {{message.type}}-message" *ngIf="message.text">
      {{ message.text }}
    </div>
    <button
      class="add_vacancy-btn"
      type="submit"

    >
      Опубликовать
      <!-- [disabled]="createVacancyForm.invalid"
      [ngClass]="{'button-disabled': createVacancyForm.invalid}" -->
    </button>
  </form>
</div>
