<div class="page-wrapper">
  <h1 role="heading">Вакансии продавцов</h1>

  <section class="vacancies-section">
    <div class="title-vacancies">Новых вакансий: {{ landlordVacanciesNew.length }}</div>
    <app-new-vacancies
      *ngFor="let llVacNew of landlordVacanciesNew"
      [landlordVacancyNew] = "llVacNew"
      (approve)="approveVacancy($event)"
      (reject)="rejectVacancy($event)"
    ></app-new-vacancies>
  </section>

  <section class="vacancies-section">
    <div class="title-vacancies">Просмотренные</div>
    <app-viewed-vacancies
      *ngFor="let llVacViewed of landlordVacanciesViewed"
      [landlordVacancyViewed] = "llVacViewed"
    ></app-viewed-vacancies>
  </section>

</div>
