<div class="page-wrapper">

    <section class="ll_info-section top-info">
        <img src="../../../assets/images/default_avatar.png" class="user-ava" alt="">

        <div class="short-info">
            <div class="username">
                {{ landlordName }}
            </div>
            <div class="role">
                <p>Роль в системе: <span class="role-value">{{ landlordRole }}</span></p>
            </div>
            <div class="regist-date">
                <p>Дата регистрации: <span class="regist-date-value">{{ landlordRegistrDate }}</span></p>
            </div>
        </div>
    </section>

    <section class="ll_info-section contacts">
        <h2 role="header">Контактные данные</h2>

        <p>
          <span>Телефон:</span>
          <a [href]="telstring">{{ landlordTel }}</a>
        </p>

        <p>
          <span>Email:</span>
          <a [href]="emailstring">{{ landlordEmail }}</a>
        </p>
    </section>

    <section class="ll_info-section ads">
      <h2 role="header">Объявляения пользователя</h2>
      <app-landlord-vacancies
        *ngFor="let llVac of llVacansies"
        [llVacancy] = "llVac"
      >
      </app-landlord-vacancies>
    </section>
</div>
