<div class="vacancy-card">
    <div class="message {{message.type}}-message landlord-vacancy-message" *ngIf="message.text">
      {{ message.text }}
    </div>
    <div class="carousel-wrapper">
        <img [src]="firstPhotoSrc" alt="" class="vacancy-image">
    </div>
    <div class="housing-description">
        <a [routerLink]="['/housing', landlordVacancyNew.housingId]" target="_blank">
            <h2 class="housing-name">{{ housingName }}</h2>
            <div class="housing-address">
                <img src="../../../assets/images/icons/location.svg" class="housing-icon" alt="">
                {{ housingAddress }}
            </div>
            <div class="housing-price">
                <img src="../../../assets/images/icons/price.svg" class="housing-icon" alt="">
                <span class="price-card-value">{{ housingPrice }}</span> ₽ за сутки
            </div>
            <div class="housing-landlord">
                <img src="../../../assets/images/icons/avatar.svg" class="housing-icon" alt="">
                Арендодатель:
                <a [routerLink]="['/admin/landlord', landlordVacancyNew.landlordId]" class="landlord-link">
                  {{ landlordName }}
                </a>
            </div>
        </a>

        <div class="buttons">
            <button class="approve" (click)="onApprove(landlordVacancyNew.housingId)">Одобрить</button>
            <button class="reject" (click)="onReject(landlordVacancyNew.housingId)">Отклонить</button>
        </div>
    </div>
</div>
