<div class="reservation-card">
    <div class="carousel-wrapper">
        <img src="../../../assets/images/housing_variants/var_0_1.jpg" alt="" class="variant-image">
    </div>
    <div class="housing-description">
        <div class="description-top">
          <div class="reservation-date">
            {{ reservation.dates }}
          </div>
          <div class="reservation-status">
              {{ reservation.status }}
          </div>
        </div>

        <a [routerLink]="['/housing', reservation.housingId]" target="_blank">
            <h2 class="housing-name">{{ housingName }}</h2>
            <div class="housing-address">
                <img src="../../../assets/images/icons/location.svg" alt="">
                {{ housingAddress }}
            </div>
        </a>
        <div class="review">
            <a
              *ngIf="reservation.status === 'прошедшее'"
              [routerLink]="['/client/review', reservation.housingId]"
              class="review-btn"
              [ngClass]="{'no-review': false}"
            >
              Оставить отзыв
            </a>
            <!-- <button class="review-btn" [ngClass]="{'no-review': true}" (click)="openReviewPage()">Оставить отзыв</button> -->
        </div>
    </div>
</div>
