<div class="request-card">
  <div class="change-card-view">
    <img src="../../../../assets/images/icons/rollup.svg"
      alt="свернуть" class="roll-up" (click)="rollUpCard()" *ngIf="fullCardView">
    <img src="../../../../assets/images/icons/expand.svg"
      alt="развернуть" class="expand" (click)="expandCard()" *ngIf="!fullCardView">
  </div>

  <div class="request-block small-card" *ngIf="!fullCardView">
    <p class="request-value"><a [routerLink]="['/housing', requestViewed.housingId]" target="_blank">
      {{ housingName }}
    </a></p>
    <p>
      {{ requestViewed.arrivalDate }} – {{ requestViewed.departureDate }}
    </p>
  </div>

  <div class="full-card" *ngIf="fullCardView">
    <div class="request-block">
        <p class="request-title">Жилье:</p>
        <p class="request-value"><a [routerLink]="['/housing', requestViewed.housingId]" target="_blank">
          {{ housingName }}
        </a></p>
    </div>
    <div class="request-block">
        <p class="request-title">Заезд:</p>
        <input type="text" [value]="requestViewed.arrivalDate" class="request-input" disabled>
        <input type="text" [value]="requestViewed.arrivalTime" class="request-input" disabled>
    </div>
    <div class="request-block">
        <p class="request-title">Отъезд:</p>
        <input type="text" [value]="requestViewed.departureDate" class="request-input" disabled>
        <input type="text" [value]="requestViewed.departureTime" class="request-input" disabled>
    </div>
    <div class="request-block">
        <p class="request-title">Число гостей:</p>
        <input type="number" [value]="requestViewed.guestsCount" class="request-input" disabled>
    </div>
    <div class="request-block">
        <p class="request-title">Цель заезда:</p>
        <input type="text" [value]="requestViewed.target" class="request-input" disabled>
    </div>
    <div class="request-block">
        <p class="request-title">Комментарий к бронированию:</p>
        <textarea cols="40" rows="4" [value]="requestViewed.comment" class="request-input" disabled></textarea>
    </div>
    <div class="request-block">
        <p class="request-title">Способ оплаты:</p>
        <input type="text" [value]="requestViewed.payMethod" class="request-input" disabled>
    </div>
    <div class="request-block">
        <p class="request-title">Оплаченная сумма, ₽:</p>
        <input type="text" [value]="requestViewed.cost" class="request-input" disabled>
    </div>
    <div class="request-block">
        <p class="request-title">Статус:</p>
        <input type="text" [value]="requestViewed.status" class="request-input status-input" disabled>
    </div>
    <div class="request-block">
        <p class="request-title">Оплативший пользователь:</p>
        <input type="text" [value]="requestViewed.user" class="request-input user-input" disabled>
    </div>
  </div>
</div>
