<div class="vacancy-card">
    <div class="carousel-wrapper">
        <img [src]="firstPhotoSrc" alt="" class="vacancy-image">
    </div>
    <div class="housing-description">
        <a [routerLink]="['/housing', housingId]" target="_blank">
            <h2 class="housing-name">{{ housingName }}</h2>
            <div class="housing-address">
                <img src="../../../assets/images/icons/location.svg" alt="">
                {{ housingAddress }}
            </div>
            <div class="housing-price">
                <img src="../../../assets/images/icons/price.svg" alt="">
                <span class="price-card-value">{{ housingPrice }}</span> ₽ за сутки
            </div>
        </a>

        <div class="housing-params">
            <div class="status">
                Статус: <span class="status-name">{{ llVacancy.status }}</span>
            </div>
        </div>
    </div>
</div>
