<aside class="housing-aside">
  <form action="./reservation.html" class="reservation-form">
    <input type="checkbox" id="check-options">
    <label for="check-options">
      <img  class="check-options-icon" src="../../../assets/images/icons/settings.png" alt="Settings">
    </label>
    <div class="options-container">
      <div class="city-option option-block">
        <p class="option-name">Город:</p>
        <input class="option-input" type="text" name="city-input" [(ngModel)]="city" [ngModelOptions]="{standalone: true}">
      </div>
      <div class="arrival-option option-block">
        <p class="option-name">Дата заезда:</p>
        <input class="option-input" type="date" name="arrival-input" [(ngModel)]="arrivalDate" [ngModelOptions]="{standalone: true}" [min]="minArrivalDate">
      </div>
      <div class="departure-option option-block">
        <p class="option-name">Дата отъезда:</p>
        <input class="option-input" type="date" name="departure-input" [(ngModel)]="departureDate" [ngModelOptions]="{standalone: true}" [min]="minDepartureDate">
      </div>
    </div>
    <div class="message {{message.type}}-message" *ngIf="message.text">
      {{ message.text }}
    </div>
    <button (click)="rentHouse()" class="reservation-btn">Забронировать</button>
  </form>
</aside>
