<div class="page-wrapper">
  <app-rentals-aside class="rentals-aside"></app-rentals-aside>

  <main class="rentals-main">
      <div class="variants-count">
          Найдено вариантов: <span class="variants-count"> {{ housings.length }}</span>
      </div>
      <div class="loading" *ngIf="isLoading"></div>
      <div class="all-variants">
        <ul class="variants-list">
          <li class="variants-list__item">
            <app-housing-card
              class="variant-card"
              *ngFor="let h of housings"
              [housing]="h"
            ></app-housing-card>
          </li>
        </ul>
      </div>
  </main>
</div>
