/* You can add global styles to this file, and also import other style files */
$main-font-family: 'Istok Web', sans-serif

*
  font-family: $main-font-family
  margin:  0px
  padding:  0px

ul
  list-style: none

a
  text-decoration: none

.message
  padding: 10px
  margin-bottom: 10px
  border-radius: 5px
  z-index: 99

.error-message
  color: #ad1b3b
  background: #ebd5da
  border: 1px solid #ad1b3b

.info-message
  color: #4d9f2d
  background: #d4f5c7
  border: 1px solid #4d9f2d
